.height-full { height: 100%; }

.abs-center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.abs-ver-center { position: absolute; top: 50%; transform: translateY(-50%); }