.clearfix:after {
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
.clearfix {
    zoom: 1;
}
.hr-20 {
    margin: 20px auto;
    width: 97%;
    color: #ccc;
    

}